# Tugas 2 - Diskritisasi

**Soal !**
1. Lakukan proses diskrititasi dengan equal width dan equal frequency
2. Lakukan proses diskritisasi dengan basis entropy

**Jawaban**

**Apa Itu Binning Data?**

Binning adalah sebuah proses untuk mengelompokkan data ke dalam bagian-bagian yang lebih kecil yang disebut bin berdasarkan kriteria tertentu. Binning data merupakan salah satu teknik praproses data yang digunakan untuk meminimalisasi kesalahan dalam pengamatan serta terkadang dapat meningkatkan akurasi dari model prediktif.

Binning biasanya digunakan untuk mengelompokkan data numerik menjadi beberapa bin agar sebaran data lebih mudah dipahami. Misalnya kita dapat mengelompokkan fitur “usia” menjadi [0-5], [6-10], [11-15], [16-20], [20-25], dan seterusnya.

Contoh lain misalnya sebuah data yang memiliki fitur “harga” dengan kisaran 1000 hingga 99000. Kita bisa membagi harga tersebut menjadi tiga bin, “murah”, “standar”, dan “mahal” dengan batas tertentu.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Pengukuran Burung
url = "https://vincentarelbundock.github.io/Rdatasets/csv/Stat2Data/Cuckoo.csv"
dataset = pd.read_csv(url)

In [3]:
#Menampilkan informasi tipe data di semua kolom
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  120 non-null    int64
 1   Bird        120 non-null    object
 2   Length      120 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.9+ KB

In [4]:
# Menampilkan 5 baris teratas
dataset.head(10)

   Unnamed: 0        Bird  Length
0           1  mdw_pippit   19.65
1           2  mdw_pippit   20.05
2           3  mdw_pippit   20.65
3           4  mdw_pippit   20.85
4           5  mdw_pippit   21.65
5           6  mdw_pippit   21.65
6           7  mdw_pippit   21.65
7           8  mdw_pippit   21.85
8           9  mdw_pippit   21.85
9          10  mdw_pippit   21.85

**1. Lakukan proses diskrititasi dengan equal width dan equal frequency**

**1.1 Equal Width**

Equal-width intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

Disini saya menggunakan library pandas

pertama yaitu membuat kategori nya

In [5]:
#Kategori
kategori = ['pendek','normal','panjang']

Selanjutnya menggunakan fungsi linspace() pada library numpy fungsinya adalah untuk membuat array yang berisi sejumlah angka dengan jarak yang sama. Angka-angka ini yang nantinya akan digunakan sebagai batas untuk tiap kategori

In [6]:
#Menarik batas dengan jumlah yang sama
bins = np.linspace(min(dataset['Length']), max(dataset['Length']), 4)
bins

array([19.65, 21.45, 23.25, 25.05])

Setelah menentukan batas dan kategori, kita dapat melakukan binning pada data tersebut menggunakan fungsi Pandas cut() dengan kode seperti di bawah ini.

In [7]:
dataset['ukuran_binned_equal'] = pd.cut(dataset['Length'], bins, labels=kategori, include_lowest=True)

Hasil yang didapatkan sebagai berikut

In [8]:
dataset.head(10)

   Unnamed: 0        Bird  Length ukuran_binned_equal
0           1  mdw_pippit   19.65              pendek
1           2  mdw_pippit   20.05              pendek
2           3  mdw_pippit   20.65              pendek
3           4  mdw_pippit   20.85              pendek
4           5  mdw_pippit   21.65              normal
5           6  mdw_pippit   21.65              normal
6           7  mdw_pippit   21.65              normal
7           8  mdw_pippit   21.85              normal
8           9  mdw_pippit   21.85              normal
9          10  mdw_pippit   21.85              normal

**2.1 Equal Frequency**

Equal-frequency intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota yang kurang lebih sama besar.

In [9]:
dataset['ukuran_binned_freq'] = pd.qcut(dataset['Length'], q=3, labels=kategori)

Berikut hasilnya

In [ ]:
dataset.head(10)